<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% csrf_token %}
<table>
    <tr>
        <th>主机ID</th>
        <th>主机名</th>
        <th>系统版本</th>
        <th>部门</th>
        <th>用户名</th>
    </tr>
    {% for row in page_obj %}
    <tr>
        <td>{{ row.id }}</td>
        <td>{{ row.hostname }}</td>
        <td>{{ row.system_version }}</td>
        <td>{{ row.dp.title }}</td>
        <td>{{ row.UI.username }}</td>
    </tr>
    {% endfor %}
</table>
<div>
    {% if page_obj.has_previous %}
     <a href="/users?p={{ page_obj.previous_page_number }}">上一页</a>
        {% else %}
        <a href="#">上一页</a>
    {% endif %}

    {% if page_obj.has_next %}
    <a href="/users?p={{ page_obj.next_page_number }}">下一页</a>
        {% else %}
        <a href="#">下一页</a>
    {% endif %}
</div>
</body>
</html>